{% if role["name"] == "Provider Router" %}
{% include "/ios/platform_templates/provider_router.j2" %}
{% elif role["name"] == "Provider Edge Router" %}
{% include "/ios/platform_templates/provider_edge_router.j2" %}
{% elif role["name"] == "Customer Edge Router" %}
{% include "/ios/platform_templates/customer_edge_router.j2" %}
{% endif %}