{% if config_context['peer_link'] and config_context['peer_ip'] %}
mlag configuration
   domain-id {{ config_context['mlag_domain_id'] }}
   local-interface Vlan4094
   peer-address {{ config_context['peer_ip'] }}
   peer-link {{ config_context['peer_link'] }}
   reload-delay mlag 300
   reload-delay non-mlag 330
{% endif %}