{% if location.vlans is defined and location.vlans | length > 0 and location.vlans[0].vid is defined %}
{% for vlan in location.vlans %}
vlan {{ vlan['vid'] }}
    name {{ vlan['name'] }}
{% if 'MLAG' in vlan['name'] or vlan['vlan_group']['name'] == 'MLAG_GROUP' %}
    trunk group MLAG
{% endif %}
{% endfor %}
{% elif location.parent.vlans is defined and location.parent.vlans | length > 0 and location.parent.vlans[0].vid is defined %}
{% for vlan in location.parent.vlans %}
vlan {{ vlan['vid'] }}
    name {{ vlan['name'] }}
{% if 'MLAG' in vlan['name'] or vlan['vlan_group']['name'] == 'MLAG_GROUP' %}
    trunk group MLAG
{% endif %}
{% endfor %}
{% endif %}