!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$vIVWaFAwuNl0Sn3q$krPseqSsELzdlHp7X3fMqQtoLTlRUgbHZAdTWEwMDSDqFOk3iKC3g2j/6BofhI9CV706VkKTr7GSst9.trUH21
!
management api http-commands
   protocol http
   no shutdown
   !
   vrf clab-mgmt
      no shutdown
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ hostname }}
!
spanning-tree mode none
!
{% set h = hostname | hash('md5') %}
{% set mac = "00:1a:73" %}
{% set raw = h[0:2] %}
{% set raw_int = raw | int(base=16) %}
{% set cleaned = (raw_int // 4) * 4 %} {# clears the last 2 bits (U/L and I/G) #}
{% set suffix1 = "%02x" % cleaned %}
{% set suffix2 = h[2:4] %}
{% set suffix3 = h[4:6] %}
system mac-address {{ mac }}:{{ suffix1 }}:{{ suffix2 }}:{{ suffix3 }}
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
vrf instance clab-mgmt
   description clab-mgmt
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
!
{% include '/eos/interfaces.j2' %}
!
ip routing
ip routing vrf clab-mgmt
!
ip route vrf clab-mgmt 0.0.0.0/0 Management0 192.168.220.1
!
router bfd
   multihop interval 300 min-rx 300 multiplier 3
!
router multicast
   ipv4
      software-forwarding kernel
   !
   ipv6
      software-forwarding kernel
!
management ssh
   vrf clab-mgmt
      no shutdown
!
end