interface {{ interface["name"] }}
{% if interface["description"] | length > 1 %}
    description {{ interface["description"] }}
{% else %}
    description MGMT ONLY INTERFACE   
{% endif %}
    vrf forwarding clab-mgmt
{% if interface["ip_addresses"] | length > 0 %}
    {% for addr in interface["ip_addresses"] %}
        {% if addr["address"] is defined %}
    ip address {{ addr["address"] | ipaddr('address') }} {{ addr.address | ipaddr('netmask') }}
    no shutdown
!
        {% endif %}
    {% endfor %}
{% endif %}