{% for interface in interfaces %}
{% if 'Loop' in interface["name"] %}
{% include "/ios/interfaces/_loopback.j2" %}
{% endif %}
{% endfor %}

{% for interface in interfaces %}
{% if 'Loop' not in interface["name"] and role["name"] == "Provider Router" %}
{% include "/ios/interfaces/_router_physical.j2"%}
{% elif 'Loop' not in interface["name"] and role["name"] == "Provider Edge Router" %}
{% include "/ios/interfaces/_router_physical.j2"%}
{% elif 'Loop' not in interface["name"] and role["name"] == "Customer Edge Router" %}
{% include "/ios/interfaces/_router_physical.j2"%}
{% elif 'Loop' not in interface["name"] and role["name"] == "Provider Route Reflector" %}
{% include "/ios/interfaces/_router_physical.j2"%}
{% endif %}
{% endfor %}