
interface {{ interface.name }}
{% if interface.description | length > 1 %}
 description {{ interface.description }}
{% endif %}
{% set valid_addrs = interface.ip_addresses | selectattr("address", "defined") | list %}
{% if valid_addrs | length > 0 %}
{% for addr in valid_addrs %}
{% if '.' in addr["address"] %}
 ip address {{ addr["address"] | ipv4_address }} {{ addr["address"] | netmask }}
{% elif ':' in addr["address"] %}
 ipv6 address {{ addr["address"] }}
{% endif %}
{% endfor %}
{% else %}
 no ip address
{% endif %}
{% if interface.enabled == false %}
 shutdown
{% endif %}
!