{% if interface["enabled"] == true and 'Ethernet' in interface["name"] and interface["mgmt_only"] == False %}
interface {{ interface["name"]["split"]('.')[0] }}
{% if interface["description"] | length > 1 %}
 description {{ interface.description }}
{% elif interface.connected_interface is defined and interface.connected_interface and interface.connected_interface.device is defined and interface.connected_interface.device.name is defined %}
 description To {{ interface["connected_interface"]["device"]["name"] }}-{{ interface["connected_interface"]["name"] }}
{% endif %}
{% if interface["ip_addresses"] | length > 1 %}
{% for addr in interface["ip_addresses"] %}
{% if addr["address"] is defined %}
{% if '.' in addr["address"] %}
 ip address {{ addr["address"] | ansible.utils.ipaddr('address') }} {{ addr["address"] | ansible.utils.ipaddr('netmask') }}
{% elif ':' in addr["address"] %}
 ipv6 address {{ addr["address"] }}
 ipv6 enable
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if device['config_context']['ospf'] is defined and interface['cf_ospf_area'] is not none %}
{% set ospf = device['config_context']['ospf'] %}
{% if ospf['ipv4'] is defined %}
 ip ospf {{ ospf['ipv4']['process_id'] }} area {{ interface['cf_ospf_area'] }}
{% if interface['cf_ospf_network_type'] is not none %}
 ip ospf network {{ interface['cf_ospf_network_type'] }}
{% endif %}
{% if ospf['ipv6'] is defined %}
 ipv6 ospf {{ ospf['ipv6']['process_id'] }} area {{ interface['cf_ospf_area'] }}
{% endif %}
{% endif %}
{% endif %}
{% if interface['cf_mpls_enabled'] == True %}
 mpls ip
{% endif %}
 no shutdown
!
{% elif interface["mgmt_only"] == True %}
interface {{ interface["name"] }}
{% if interface["description"] | length > 1 %}
 description {{ interface["description"] }}
{% else %}
 description MGMT ONLY INTERFACE   
{% endif %}
 vrf forwarding clab-mgmt
{% if interface["ip_addresses"] | length > 0 %}
{% for addr in interface["ip_addresses"] %}
{% if addr["address"] is defined %}
 ip address {{ addr["address"] | ansible.utils.ipaddr('address') }} {{ addr["address"] | ansible.utils.ipaddr('netmask') }}
 no cdp enable
 no shutdown
!
{% endif %}
{% endfor %}
{% endif %}
{% else %}
interface {{ interface["name"] }}
 description NOT IN USE
 shutdown
!
{% endif %}