{% if interface["enabled"] == true and 'Ethernet' in interface["name"] and interface["mgmt_only"] == False %}
interface {{ interface["name"]["split"]('.')[0] }}
{% if interface["description"] is defined %}
 description {{ interface.description }}
{% endif %}
{% if interface["ip_addresses"] | length > 0 %}
{% for addr in interface["ip_addresses"] %}
{% if addr["address"] is defined %}
{% if '.' in addr["address"] %}
 ip address {{ addr["address"] | ipv4_address }} {{ addr["address"] | netmask }}
{% elif ':' in addr["address"] %}
 ipv6 address {{ addr["address"] }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
 no shutdown
!
{% elif interface["mgmt_only"] == True %}
interface {{ interface["name"] }}
{% if interface["description"] is defined %}
 description {{ interface["description"] }}    
{% endif %}
 vrf forwarding clab-mgmt
{% if interface["ip_addresses"] | length > 0 %}
{% for addr in interface["ip_addresses"] %}
{% if addr["address"] is defined %}
 ip address {{ addr["address"] | ipv4_address }} {{ addr.address | netmask }}
 no cdp enable
 no shutdown
!
{% endif %}
{% endfor %}
{% endif %}
{% else %}
interface {{ interface["name"] }}
 description NOT IN USE
 shutdown
!
{% endif %}